<!DOCTYPE html>
<html>
<head>
	<title>Say Something -Say You and Say Me!</title>

	<link rel="stylesheet" tyle="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<link rel="stylesheet" tyle="text/css" href="/stylesheets/app.css">
<body>
  <div class="ui olive three item inverted menu">
    <div class="header item active"><i class="tree icon"></i><p id="title">SAY SOMETHING </p></div>
      <a href="/" class=" item"><i class="home icon"></i>Home Page</a>
      <a href="/blogs/new" class="item"><i class="add square icon"></i>Your Story</a>
    
</div>